{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class="goto-here">

    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span></p>
            <h1 class="mb-0 bread" style="font-family: 'Kalam: px;', cursive !important;">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div>
	    				<table class="table">
							{% if carts %}
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>Image</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
							
								{% for i in carts %}
						      	<tr class="text-center">
						        <td class="product-remove"><a href="{% url 'remove_from_cart' pk=i.product.pk %}"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><a href="{% url 'product_details' pk=i.product.pk %}" class="img" style="background-image:url({{i.product.product_image.url}});"></a></td>
						        
						        <td class="product-name">
						        	<h3 style="font-family: 'Kalam: px;', cursive !important;">{{i.product.product_name}}</h3>
						        	<p>{{i.product.product_desc}}</p>
						        </td>
						        
						        <td class="price">Rs. {{i.product_price}}</td>
						        <form method="post" action="{% url 'change_qty' %}">
									{% csrf_token %}
									<input type="hidden" name="cid" value="{{i.pk}}">
						        <td class="quantity">
						        	<div class="input-group mb-3">																		
					             		<input type="number" name="product_qty" class="form-control text-center" value="{{i.product_qty}}" min="1" max="10"  onchange="this.form.submit();">									  	
									</div>
					          	</td>
								</form>					        
						        <td class="total">Rs. {{i.total_price}}</td>
						      	</tr><!-- END TR-->
							  	{% endfor %}
							  	{% else %}
								<h2 align="center" style="font-family: 'Kalam: px;', cursive !important;">No Products In Carts</h2>
								{% endif %}

						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div><br>
    		<div class="row justify-content-end">
    				<div class="cart-total mb-3">
    					<h3 style="font-family: 'Kalam: px;', cursive !important;">Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>Rs. {{net_price}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>Rs. 0</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>Rs. {{net_price}}</span>
    					</p>
    				</div>
    				<div>
						<form method="post" action="{% url 'buy_all_now' %}">
						{% csrf_token %}
						<input type="hidden" name="amount" value="{{net_price}}">
						<button class="btn btn-primary py-3 px-4" style="color:black;" onclick="window.location='checkout.html'">Proceed to Checkout</button>
						</form>
					</div>		
    		</div>
			</div>
		</section>

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
    
  </body>
</html>
{% endblock %}