{% extends 'seller_header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class="goto-here">
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="#">Home</a></span></p>
            <h1 class="mb-0 bread" style="font-family: 'Kalam: px;', cursive !important;">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
		
    		<div class="row" >
				<div class="col-md-12 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="{% url 'view_product' %}" class="{% if request.resolver_match.url_name == 'view_product' %}active{% endif %}">All</a></li>
    					<li><a href="{% url 'collection_vegetables' %}" class="{% if request.resolver_match.url_name == 'collection_vegetables' %}active{% endif %}">Vegetables</a></li>
    					<li><a href="{% url 'collection_fruits' %}" class="{% if request.resolver_match.url_name == 'collection_fruits' %}active{% endif %}">Fruits</a></li>
    					<li><a href="{% url 'collection_juice' %}" class="{% if request.resolver_match.url_name == 'collection_juice' %}active{% endif %}">Juice</a></li>
    					<li><a href="{% url 'collection_dried' %}" class="{% if request.resolver_match.url_name == 'collection_dried' %}active{% endif %}">Dried</a></li>
    				</ul>
    			</div>
				{% for i in products %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product" style="border-radius: 7%;">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{{i.product_image.url}}" alt="Colorlib Template" style="width: 200px; height: 200px; margin-left: 25px;">
    						<div class="overlay"></div></a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3 style="font-family: 'Kalam: px;', cursive !important;"><a href="#">{{i.product_name}}</a></h3>
							<h3><a href="#">{{i.product_weight}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="price-sale">Rs. {{i.product_price}}</span></p>
		    					</div>
	    					</div>
							<div>
								<a href="{% url 'seller_edit_product' pk=i.pk %}"><input type="submit" value="EDIT" class="btn btn-info"></a>
								<a href="{% url 'seller_delete_product' pk=i.pk %}"><input type="submit" value="DELETE" class="btn btn-danger"></a>
							</div>
    					</div>
						
    				</div>
    			</div>
				{% endfor %}
    		</div>
		
    	</div>
    </section>
  </body>
</html>
{% endblock %}